// VARIABLES
$richBrown: #59463b;
$coolBrown: #857b75;
$orange: #c06e40;
$coral: #93e1e2;
$offWhite: #FBFBFA;

// MIXINS
@mixin box-size {
	width: 600px;
	margin: 0 auto;
}

@mixin border($borderSide, $color) {
	border-#{$borderSide}: $color 6px solid;
}

@mixin link-underline($color) {
	border-bottom: $color 1px solid;
	box-shadow: inset 0 -5px 0 $color;
}

@mixin transition {
	transition: all 0.08s ease-in-out;
}

@mixin floatLeft {
	//display: inline;
	float: left;
}

@mixin clearfix {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

@mixin submit-button {
	position: relative;
	display: block;
	width: 135px;
	height: 36px;
	border-radius: 4px;
	background: $coral;
	background: linear-gradient($coral, darken($coral, 10%));
	border: darken($coral, 25%) 1px solid;
	box-shadow: inset 0 1px 1px 0 $offWhite,
		//inset 0 -1px 1px 0 mix($coral, $coolBrown, 60%),
		0 1px 0 1px rgba($coolBrown, 0.5);

	&:hover, &:focus {
		background: darken($coral, 10%);
		background: linear-gradient(darken($coral, 10%), darken($coral, 20%));
	}
	&:active {
		background: darken($coral, 10%);
		background: linear-gradient(darken($coral, 10%), darken($coral, 20%));
		box-shadow: 0 0 0 1px rgba($coolBrown, 0.65);
		top: 1px;
	}
}

/* ==================== RESET ==================== */
* {
	margin: 0;
 	padding: 0;
 	border: 0;
	box-sizing: border-box;
}

/* ==================== TEXT STYLES ==================== */
html {
	font-size: 16px;
	background-color: $coolBrown;
}

h1, h2, h3, li, button[type="submit"] {
	font-family: "Futura PT", Lato, Sans-Serif;
}

p, blockquote, footer.author, input {
	font-family: "Tisa Pro", "Roboto Slab", Serif;
}

header h1 {
	@include box-size;
	display: block;
	padding-top: (194px / 2) - (108 / 2) - 3; // (header height / 2) - (h2 height / 2) - 3 empirically determined to look more centered.

	font-size: 3em; // I should try writing a sass function to convert px to em to avoid manual calculation
	font-weight: 700;
	line-height: 1.125;
	color: $richBrown
}

h2 {
	font-size: 2.375em;
	font-weight: 400;
	color: $orange;
	padding-bottom: 4px;
}

h3 {
	font-size: 1.125em;
	font-weight: 700;
	color: $richBrown;
}

p {
	font-size: 1.125em;
	color: $richBrown;
}

.introduction p {
	font-size: 1.5em;
	line-height: 1.5;
}

p.copyright {
	font-size: 0.6875em;
	color: $coolBrown;
	text-align: center;
}

a {
	text-decoration: none;
}

main a {
	color: $richBrown;
	@include link-underline($coral);
	@include transition;

	&:focus, &:hover{
		@include link-underline($orange);
	}
	&:active {
		color: $orange;
		@include link-underline($orange);
	}
}

footer {
	a {
		font-weight: 700;
		color: $coral;
		@include transition;

		&:focus, &:hover, &:active{
			color: $orange;
		}
	}
}

input {
	font-size: 0.875em;
	color: rgba($coolBrown, 0.7);
}

.say-hello li {
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.65;
	color: $coral;
	list-style-type: none;
}

blockquote {
	font-size: 1.125em;
	color: $coolBrown;
}

cite {
	font-size: 0.8em;
	font-style: italic;
	color: $richBrown;
}
::selection {
	background-color: rgba($coral, 0.5);
}

button[type="submit"] {
	font-size: 0.9375em;
	font-weight: 700;
	color: $richBrown;
}

/* ==================== LAYOUT STYLES ==================== */
input, button {
	outline: none;
}

header {
	position: relative;
	height: 194px;
	background-image: url(../img/header-repeat.jpg);
	background-repeat: repeat;
	@include border(top, $coolBrown);
	box-shadow: 0 -1px 5px 1px rgba($coolBrown, 0.4);
}

figure.portrait {
	width: 142px;
	height: 142px;
	position: absolute;
	right: 415px;
	bottom: -(142px/2); // figure height / 2
	@include border(top, $orange);
	@include border(left, $orange);
	@include border(right, $orange);
	@include border(bottom, $orange);
	background-color: $offWhite;

	img {
		width: 100%;
	}
}

main {
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}

form {
    display: inline-block;
    padding: 4px 10px;
	border: $coolBrown 1px solid;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 1px rgba($coolBrown, 0.3);
}

section {
	@include box-size;
	margin-top: 50px;
	margin-bottom: 50px;

	&.introduction {
		form {
			width: 50%;
		}
		button[type="submit"] {
			@include submit-button;
			display: inline-block;
			width: 125px;
			height: 30px;
			margin-left: 12px;
		}
	}

	&.what-Im-reading {	
		position: relative;	

		&::before {
			content: "";
		    display: block;
		    position: absolute;
		    width: 115px;
		    height: 94px;
		    top: 48px; //h2 height
		    left: -90px;
		    z-index: 1;
		    background-image: url(../img/ldquo.png);
		    background-repeat: no-repeat;
		}	
		&::after {
			content: "";
		    display: block;
		    position: absolute;
		    width: 115px;
		    height: 94px;
		    bottom: 0;
		    right: -40px;
		    z-index: 1;
		    background-image: url(../img/rdquo.png);
		    background-repeat: no-repeat;
		}
		article {
			position: relative;
			z-index: 2;
			margin-bottom: 25px;
			.book-info {
				@include floatLeft;
				width: 30%;
			}
			blockquote {
				@include floatLeft;
				width: 65.5%;
				margin-left: 3.5%;
				@include border(left, $orange);
				padding-left: 20px;
			}	
			&::after {
				@include clearfix;
			}
		}
	}

	&.painting {
		width: 100%;
		height: 100%;
		margin: 50px 0 0 0;
		position: relative;
		div {
			width: 100%;
			position: absolute;
			h2 {
				@include box-size;
				padding-top: 16px;
				text-shadow: 0 0 4px $richBrown;
			}	
		}
		figure {
			img {
				width: 100%;
			}
		}
	}
	
	&.say-hello {
		@include box-size;
		h2 {
			padding-top: 16px;
		}
	}
}

footer {
	background: $richBrown repeat url(../img/footer-repeat.jpg);
	@include border(bottom, $coolBrown);

	.copyright {
		padding: 10px 0;
	}
}

/* ==================== MODAL ==================== */
.modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($coolBrown, 0.70);

	section {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 0;
		margin-bottom: 0;
		@include border(top, $orange);
		@include border(left, $orange); 
		@include border(bottom, $orange); 
		@include border(right, $orange);

		div.modal-container {
			position: relative;
			padding: 20px 30px;
			background-color: $offWhite;
			margin: 20px;
			box-shadow: 0 0 60px 10px rgba($coolBrown, 0.8);

			button.close-modal {
				position: absolute;
				top: -35px;
				right: -35px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: $orange no-repeat center url(../img/close-x.png);
				box-shadow: 0 1px 0 1px rgba($coolBrown, 0.35);
			}	
			div {

				margin-top: 12px;
				p, form {
					@include floatLeft;
				}
				p {
					width: 40%;
					padding-top: 2px;
				}
				form {
					width: 60%;
					input {
						width: 100%;
					}
				}
				&::after {
					@include clearfix;
				}	
			}
			> p {
				margin-top: 12px;
			}
			button[type="submit"] {
				margin-left: auto;
				margin-top: 12px;
				@include submit-button;

			}
		}
	}
}









