/* RESET */
* {
	margin: 0;
 	padding: 0;
 	border: 0;
	box-sizing: border-box;
}

/* VARIABLES */
$richBrown: #59463b;
$coolBrown: #857b75;
$coolBrownTp: rgba($coolBrown, 0.7);
$orange: #c06e40;
$coral: #93e1e2;
$offWhite: #FBFBFA;

/* MIXINS */
@mixin box-size { // I think I only repeat this twice.
	width: 600px;
	margin: 0 auto;
}

/* TEXT STYLES */
html {
	font-size: 16px;
}

h1, h2, h3, li {
	font-family: "Futura PT", Sans-Serif;
}

p, blockquote, footer.author, input {
	font-family: "Tisa Pro", Serif;
}

header h1 {
	@include box-size;
	display: block;
	padding-top: (194px / 2) - (108 / 2) - 3; // (header height / 2) - (h2 height / 2) - 3 empirically determined to look more centered.

	font-size: 3em; // I should try writing a sass function to convert px to em to avoid manual calculation
	font-weight: 700;
	line-height: 1.125;
	color: $richBrown
}

h2 {
	font-size: 2.375em;
	font-weight: 400;
	color: $orange;
	padding-bottom: 4px;
}

h3 {
	font-size: 1.125em;
	font-weight: 700;
	color: $richBrown;
}

p {
	font-size: 1.125em;
	color: $richBrown;
}

.introduction p {
	font-size: 1.5em;
	line-height: 1.5;
}

p.copyright {
	font-size: 0.6875em;
	color: $coolBrown;
	text-align: center;
}

a {
	color: $richBrown;
	text-decoration: none;
	border-bottom: $coral 6px solid; // Hm, how to style underline how I want it? This is too far from baseline
}

input {
	font-size: 0.875em;
	color: $coolBrownTp;
}

.say-hello li {
	font-size: 1.125em;
	font-weight: 700;
	line-height: 1.65;
	color: $coral;
	list-style-type: none;
}

blockquote {
	font-size: 1.125em;
	color: $coolBrown;
}

footer.author {
	font-size: 0.6875em;
	font-style: italic;
	color: $richBrown;
}

/* LAYOUT STYLES */
header {
	//position: relative;
	height: 194px;
	background-image: url(../img/header-repeat.jpg);
	background-repeat: repeat;
	border-top: $coolBrown 6px solid;
	box-shadow: 0 -1px 6px $coolBrownTp;

}

figure.portrait {
	width: 142px;
	height: 142px;
	position: absolute;
	//right: 415px;
	//bottom: -(142px/2); // figure height / 2
	border: $orange 6px solid;
	background-color: $offWhite;

	img {
		width: 100%;
	}
}

main {
	width: 100vw;
}

section {
	@include box-size;
	margin-top: 50px;
	margin-bottom: 50px;

	&.painting {
		width: 100vw; //or 100%?
		margin-left: 0;
		margin-right: 0;

		img {
			width: 100vw; //or 100%?
		}
		h2 {
			@include box-size;
			display: block;
			position: absolute;
		}
	}
}

footer {
	background-image: url(../img/footer-repeat.jpg);
	background-repeat: repeat;
}











