// VARIABLES
$richBrown: #59463b;
$coolBrown: #857b75;
$orange: #c06e40;
$coral: #93e1e2;
$offWhite: #FBFBFA;

// MIXINS
@mixin box-size {
	width: 600px;
	margin: 0 auto;
}

@mixin border($borderSide, $color) {
	border-#{$borderSide}: $color 6px solid;
}

@mixin link-underline($color) {
	border-bottom: $color 1px solid;
	box-shadow: inset 0 -5px 0 $color;
}

@mixin transition {
	transition: all 0.08s ease-in-out;
}

@mixin floatLeft {
	float: left;
}

@mixin clearfix {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

@mixin submit-button {
	position: relative;
	display: block;
	width: 135px;
	height: 36px;
	border-radius: 4px;
	background: lighten($coral, 10%);
	background: linear-gradient(lighten($coral, 10%), $coral);
	border: darken($coral, 25%) 1px solid;
	box-shadow: inset 0 1px 1px 0 $offWhite,
		0 1px 0 1px rgba($coolBrown, 0.5);

	&:hover, &:focus {
		background: $coral;
		background: linear-gradient($coral, darken($coral, 10%));
	}
	&:active {
		background: $coral;
		background: linear-gradient($coral, darken($coral, 10%));
		box-shadow: 0 0 0 1px rgba($coolBrown, 0.65);
		top: 1px;
	}
}

@mixin no-wrap {
	white-space: nowrap;
}


/* ==================== RESET ==================== */
* {
	margin: 0;
 	padding: 0;
 	border: 0;
	box-sizing: border-box;
}




/* ==================== TEXT STYLES ==================== */
html {
	font-size: 16px;
	background-color: $coolBrown;
}

h1, h2, h3, li, button[type="submit"] {
	font-family: "Futura PT", Lato, Sans-Serif;
}

p, blockquote, footer.author, input {
	font-family: "Tisa Pro", "Roboto Slab", Serif;
}

header h1 {
	font-size: 3em;
	font-weight: 700;
	line-height: 1.125;
	color: $richBrown;
	@include no-wrap;
}

h2 {
	font-size: 2.375em;
	font-weight: 400;
	color: $orange;
	padding-bottom: 4px;
}

h3 {
	font-size: 1.125em;
	font-weight: 700;
	color: $richBrown;
}

p {
	font-size: 1.125em;
	color: $richBrown;
	display: block;
	max-width: 100%;
}

.introduction p {
	font-size: 1.5em;
	line-height: 1.5;
	@include no-wrap;
}

p.copyright {
	font-size: 0.6875em;
	color: $coolBrown;
	text-align: center;
}

a {
	text-decoration: none;
}

main a {
	color: $richBrown;
	@include link-underline($coral);
	@include transition;

	&:focus, &:hover{
		@include link-underline($orange);
	}
	&:active {
		color: $orange;
		@include link-underline($orange);
	}
}

footer {
	.say-hello li {
		font-size: 1.125em;
		font-weight: 700;
		line-height: 1.65;
		color: $coral;
		list-style-type: none;
	}
	a {
		font-weight: 700;
		color: $coral;
		@include transition;

		&:focus, &:hover, &:active{
			color: $orange;
		}
	}
}

input {
	font-size: 0.875em;
	color: rgba($coolBrown, 0.7);
}

blockquote {
	font-size: 1.125em;
	color: $coolBrown;
}

cite {
	font-size: 0.8em;
	font-style: italic;
	color: $richBrown;
}
::selection {
	background-color: rgba($coral, 0.5);
}

button[type="submit"] {
	font-size: 0.9375em;
	font-weight: 700;
	color: $richBrown;
}




/* ==================== LAYOUT STYLES ==================== */
input, button {
	outline: none;
}

header {
	position: relative;
	height: 194px;
	background-image: url(../img/header-repeat.jpg);
	background-repeat: repeat;
	@include border(top, $coolBrown);
	box-shadow: inset 0 -1px 1px 0px rgba(133, 123, 117, 0.3);

	h1 {
		@include box-size;
		display: block;
		padding-top: (194px / 2) - (108 / 2) - 3; // (header height / 2) - (h2 height / 2) - 3 empirically determined to look more centered.	
	}
	figure.portrait {
		width: 142px;
		height: 142px;
		position: absolute;
		right: 415px;
		bottom: -(142px/2); // figure height / 2
		z-index: 1;
		@include border(top, $orange);
		@include border(left, $orange);
		@include border(right, $orange);
		@include border(bottom, $orange);
		background-color: $offWhite;

		img {
			width: 100%;
		}
	}

}

main {
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}

form {
    display: inline-block;
    padding: 4px 10px;
	border: $coolBrown 1px solid;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 1px rgba($coolBrown, 0.3);
    overflow: hidden;
}

section {
	@include box-size;
	margin-top: 50px;
	margin-bottom: 50px;

	&.introduction {
		form {
			width: 50%;
		}
		button[type="submit"] {
			@include submit-button;
			display: inline-block;
			width: 125px;
			height: 30px;
			margin-left: 12px;
		}
	}

	&.what-Im-reading {	
		position: relative;	

		&::before {
			content: "";
		    display: block;
		    position: absolute;
		    width: 115px;
		    height: 94px;
		    top: 48px; //h2 height
		    left: -90px;
		    z-index: 1;
		    background-image: url(../img/ldquo.png);
		    background-repeat: no-repeat;
		}	
		&::after {
			content: "";
		    display: block;
		    position: absolute;
		    width: 115px;
		    height: 94px;
		    bottom: 0;
		    right: -40px;
		    z-index: 1;
		    background-image: url(../img/rdquo.png);
		    background-repeat: no-repeat;
		}
		article {
			position: relative;
			z-index: 2;
			margin-bottom: 25px;
			.book-info {
				@include floatLeft;
				width: 30%;
			}
			blockquote {
				@include floatLeft;
				width: 65.5%;
				margin-left: 3.5%;
				@include border(left, $orange);
				padding-left: 20px;
			}	
			&::after {
				@include clearfix;
			}
		}
	}

	&.painting {
		width: 100%;
		height: 100%;
		margin: 50px 0 0 0;
		position: relative;
		box-shadow: inset 0 2px 0 1px $orange;

		div {
			width: 100%;
			position: absolute;
			h2 {
				@include box-size;
				padding-top: 16px;
				text-shadow: 0 0 4px $richBrown;
			}	
		}
		figure {
			img {
				vertical-align: text-bottom; //because img is an inline element, space would otherwise be left below it for descenders by default
				width: 100%;
			}
		}
	}
	
	&.say-hello {
		margin-top: 0px;
		margin-bottom: 0px;
		h2 {
			padding-top: 16px;
		}
	}
}

footer {
	background: $richBrown repeat url(../img/footer-repeat.jpg);
	box-shadow: inset 0 1px 1px 0px rgba($coolBrown, 0.6);
	@include border(bottom, $coolBrown);

	.copyright {
		padding: 10px 0;
	}
}




/* ==================== MODAL ==================== */
.modal {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba($coolBrown, 0.70);

	section {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 0;
		margin-bottom: 0;
		@include border(top, $orange);
		@include border(left, $orange); 
		@include border(bottom, $orange); 
		@include border(right, $orange);

		div.modal-container {
			position: relative;
			padding: 20px 30px;
			background-color: $offWhite;
			margin: 20px;
			box-shadow: 0 0 60px 10px rgba($coolBrown, 0.8);

			button.close-modal {
				position: absolute;
				top: -35px;
				right: -35px;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: $orange no-repeat center url(../img/close-x.png);
				box-shadow: 0 1px 0 1px rgba($coolBrown, 0.65);
				@include transition;

				&:hover {
					background: darken($orange, 3%) no-repeat center url(../img/close-x.png);
				}
				&:active {
					box-shadow: none;
				}
			}	
			div {
				margin-top: 12px;
				p, form {
					@include floatLeft;
				}
				p {
					width: 40%;
					padding-top: 2px;
				}
				form {
					width: 60%;
					input {
						width: 100%;
					}
				}
				&::after {
					@include clearfix;
				}	
			}
			> p {
				margin-top: 12px;
			}
			button[type="submit"] {
				margin-left: auto;
				margin-top: 12px;
				@include submit-button;

			}
		}
	}
}


/* ==================== MEDIA QUERIES ==================== */

//RESPONSIVE VARIABLES
$divi: 1.35;

@media only screen and (max-width: 980px) {
	header { 
		figure.portrait {
			right: 30%;
			width: 112px;
			height: 112px;
		}
	}
	header h1, section, section.painting div h2 {
		width: 60%;
	}
	.modal section div.modal-container {
		div {
			p, form {
				float: none;
				width: 100%;
				margin-top: 6px;
			}
		}
		> p {
			margin-top: 6px;
		}
	}
}

@media only screen and (max-width: 715px) {
	header {
		h1 {
			width: 80%;
		}
		figure.portrait {
			right: 10%;
		}
	}
	section {
		width: 80%;
		margin-top: 20px;
		margin-bottom: 20px;
		
		&.painting {
			margin-top: 20px;
			div h2 {
				width: 80%;
			}
		}
		
		&.what-Im-reading {
			article {
				.book-info {
					float: none;
					width: 100%;
				}
				blockquote {
					float: none;
					width: 100%;
					margin-left: 0;
					margin-top: 10px;
					padding-left: 0;
					padding-top: 10px;
					border: none;
					@include border(top, $orange);
				}
			}
		}
	}
}

@media only screen and (max-width: 488px) {
	h2 {
		font-size: (2.375em / $divi);
	}
	p, blockquote {
		font-size: 1em;
	}
	.introduction p {
		font-size: 1.2em
	}	

	header {
		height: 154px;
		h1 { 
			font-size: (3em / $divi);
			padding-top: 30px;
		}
		figure.portrait {
			width: 92px;
			height: 92px;
			right: 20px;
			bottom: -36px
		}		
	}

	section {
		margin-top: 10px;
		margin-bottom: 10px;

		&.introduction {
			form {
				width: 100%;
				margin-top: 10px;
			}
			button[type="submit"] {
				width: 100%;
				margin: 10px 0;
			}
		}
		&.what-Im-reading {	
			&::before {
			    left: -40px;
			}	
			&::after {
			    right: -40px;
			}
		}		
		&.painting {
			margin-top: 20px;

			h2 {
				padding-top: 8px;
				width: 90%;
			}
		}
	}

	footer {
		.say-hello {
			h2 { 
				padding-top: 8px; 
			}
			li {
				line-height: 1.8;
			}
		}
	}


	.modal section div.modal-container button[type="submit"] {
		width: 100%;
	}
}

@media only screen and (max-width: 380px) {
	.introduction p {
		white-space: normal;
		font-size: 1em;
	}
	header {
		figure.portrait {
			width: 72px;
			height: 72px;
			border-radius: 50%;
			right: 20px;
			bottom: -36px
		}
	}
	.modal section {
		border: none;
		width: 100%;

		div.modal-container {
			margin: 0;
			button.close-modal {
				position: absolute;
				top: -20px;
				right: 10px;
				width: 40px;
				height: 40px;
			}
		}
	}
}

@media only screen and (max-width: 205px) {
	.introduction p {
		white-space: normal;
	}
	header figure.portrait {
			right: 0;
	}
}